@CHARSET "UTF-8";

.mms0{
	color:#000000;
}
.mms1{
	color:#000000;
}
.mms2{
	color:#000000;
}
.mms3{
	color:#000000;
}
.mms4{
	color:#000000;
}
.mms5{
	color:#000000;
}
.mms6{
	color:#000000;
}
.mms7{
	color:#000000;
}
.mms8{
	color:#000000;
}
.mms9{
	color:#000000;
}

.mms-ntw-form{

}

.mms_mapping {
	color: #000000;
}
